h1{color: rgb(255, 0, 0);;
text-transform: uppercase;
font-size: 50px;}

p{color: rgb(52, 21, 224);
text-transform: none;
font-size: 150%;}

a {text-transform: uppercase;
font-size: 100%;}

.class{color: brown;
    font-size: 110%;
}

body {
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20240716/pngtree-free-nature-beautiful-background-image-image_16016474.jpg);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}











































