* {
    /* width: 0px; */
    /* height: 0px; */
}

body {
    background-color: rgb(243, 243, 227);
}

main {}

section {
    padding-top: 40px;
    padding-bottom: 40px;
}

#page {
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 154px;

}

div+img {
    height: 700px;
}

img {
    width: 1120px;
    height: 400px;
    object-fit: cover;
    border-radius: 28px;

}

p {
    color: red;
    width: 1120px;
}

h1 {
    max-width: 1120px;
}

h2 {
    max-width: 1120px;
}

h2+ul {
    color: red;
}

footer {
    text-align: center;
    text-justify: auto;
}